* {
  margin: 0;
  padding: 0;
  background-color: #faf9f8;
}

.container .heading h2 {
  font-size: 40px;
  text-align: center;
  font-family: "Mooli", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.container .heading {
  margin-top: 50px;
  letter-spacing: 10px;
}
.msg {
  text-align: center;
  font-size: 18px;
  font-family: "Questrial", sans-serif;
  margin-top: 25px;
  letter-spacing: 2px;
  border-bottom: 2px solid black;
  margin-left: 35px;
  margin-right: 35px;
}

.part_2 {
  margin-top: 8px;
  margin-bottom: 25px;
}

.body {
  margin-top: 70px;
  font-family: "Monsterat", sans-serif;
}

.body .choice {
  /* margin-right: 110px; */
  font-size: 18px;
}

.body .choice ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
  padding-left: 65px;
}

.form {
  display: flex;
  justify-content: space-evenly;
}

.questions {
  font-size: 20px;
  padding-top: 50px;
  border-right: 2px solid black;
  padding-right: 77px;
}

.questions ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.input {
  margin-right: 40px;
}
.input .tick {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
  padding-left: 65px;
  margin: auto;
}

#product {
  width: 33px;
  height: 90px;
  outline: none;
}

@media only screen and (max-width: 500px) {
  .container .heading h2 {
    font-size: 20px;
  }

  .msg {
    font-size: 15px;
  }

  .part_2 {
    margin-top: 0px;
  }

  .questions {
    font-size: 12px;
    padding-right: 0px;
    padding-left: 0px;
    border-right: 0px solid black;
  }

  .input {
    margin-right: 0px;
  }

  .body .choice {
    font-size: 12px;
  }

  .form {
    justify-content: center;
    gap: 10px;
  }

  .body .choice ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-left: 0px;
    padding-right: 10px;
  }

  .input .tick {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 0px;
  }

  #product {
    width: 10px;
    height: 85px;
  }
}

@media only screen and (max-width: 880px) and (min-width: 499px) {
  .container .heading h2 {
    font-size: 30px;
  }

  .msg {
    font-size: 20px;
  }

  .part_2 {
    margin-top: 2px;
  }
}
